.mySlides {
    width: 100%;
}

/* Slides 1 */
.customTableResult {
    margin: 0;
    padding: 0;
}

.customTableResult table thead td {
    font-size: 14px;
    text-align: center;
    font-weight: 900;
}

.customTableResult p {
    text-align: center;
    margin-top: 25px;
}

/* Slides 2 */
.customTableResultStatus .row{
    display: flex;
    justify-content: center;

}

.customTableResultStatus table {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

.customTableResultStatus table td{
    padding-right: 7px;
}

.customTableResultStatus table thead{
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.customTableResultStatus table tbody tr td{
    padding-bottom: 12px;
    /* border: 1px solid #000; */
}

.customTableResultStatus .danger .customCardResult{
    background-color: #d8002818;
}

.customTableResultStatus .success .customCardResult{
    background-color: #009A4018;
}

.customTableResultStatus .customCardResult {
    border-radius: 15px;
    border: 1px solid #eee;
    padding: 25px;
}

.customTableResultStatus .text-title {
    text-align: center;
    margin-top: 25px;
}


/* Slides 3 */
.customResultTable {
    width: 100%;
}

.customResultTable .row {
    display: flex;
    justify-content: center;
}

.customResultTable p {
    text-align: center;
    margin-top: 25px;
}