* {
    font-family: 'Sarabun', sans-serif;
}

#selector {
    margin-top: 5px;
    margin-bottom: 5px;
}
#selector:hover {
    background-color: #fff;
    border-radius: 25px;
    color: #AEC6CF;
}

#titleTableCustom{
    font-size: small;
}