<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {% if validlink %}
            <h1>create new password</h1>
                {{form.as_p}}

                <p>
                    <button type="submit">submit</button>
                </p>
            {% else %}
                <div>
                    <h2>link was wrong</h2>
                    <p>
                        <a href="{% url 'password_reset' %}">get link again</a>
                    </p>
                    <p>
                        <a href="{% url 'login' %}">log in again</a>
                    </p>
            {% endif %}
            
        </form>
        
        <script src="" async defer></script>
    </body>
</html>