{% extends 'app_users/components/base.html' %}
{% block site_title %}รีเซ็ตรหัสผ่าน{% endblock %}
{% block content %}
        <div class="container d-flex justify-content-center">
            <div class="card mt-5 p-5 shadow" style="max-width: 550px; height: auto;">
                <h1>Password reset sent</h1>
                <hr>
                <p> We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <p>
                    <a href="{% url 'login' %}">&laquo log in again</a>
                </p>
            </div>
        </div>
{% endblock %}