{% extends 'app_general/components/base.html' %}
{% block site_title %}profile | {% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card p-5 d-flex justify-content-center" style="width: 480px">     
            <h2>Change password</h2>
            <hr>
            <h4>สวัสดี!! คุณ {{ user.username }}</h4>
            <form action="{% url 'password_change' %}" method="post" class="form">
                {% csrf_token %}
                {{ form.non_fields_errors }}
                <div class="form-field">
                    <label class="form-label" for="id_old_password">รหัสผ่านเก่า:</label>
                    <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="form-control" />
                </div>
                <div class="form-field">
                    <label class="form-label" for="id_new_password1">รหัสผ่านใหม่:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control" />
                </div>
                <div class="form-field">
                    <label class="form-label" for="id_new_password2">ยืนยันการตั้งรหัสผ่านใหม่:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" />
                </div>
                <div class="form-field d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary w-50">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}