{% extends 'app_general/components/base.html' %}
{% block site_title %}profile | {% endblock %}
{% block content %}
    <div class="container">
        <div class="card p-3 d-flex justify-content-center"> 
            <h1>สวัสดี!! คุณ {{ user.username }}</h1>
    
            <h2>ข้อมูลผู้ใช้</h2>
            <form action="{% url 'password_change' %}" method="post" class="form">
                {% csrf_token %}
                {{ form.non_fields_errors }}
                {{ form.as_p }}
                <p>
                    <button type="submit" class="btn btn-primary">OK</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}