{% extends 'app_general/components/base.html' %}
{% block site_title %}เปลี่ยนรหัสผ่าน{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center text-center">
        
        <div class="card p-3 shadow border-success" style="height: 360px; width: 480px;"> 
                <div class="row" style="height: 40px;">
                    <a href="{% url 'profile' %}" class="text-danger d-flex justify-content-end">
                        <i data-feather="x"></i>
                    </a>
                </div>
                <hr>
                <div class="row d-flex justify-content-center align-items-center text-center" style="height: 320px;">
                    <h3>เปลี่ยนรหัสผ่านสำเร็จ</h3>
                </div>
            
        </div>
    </div>
{% endblock %}