{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}my dashboard | {% endblock %}
{% block content %}
    <div class="container">
        {% if total < 1 %}
        <div class="container w-50 d-flex align-items-center" style="height: 360px">
            <div class="card bg-light shadow w-100 text-center p-5" style="height: 180px;">
                <h4>Hello {{user1}}</h4>
                <p>**ขณะนี้ยังไม่มีการทำนายผล</p>
                <a href="{% url 'form' %}" class="mt-3">
                    <span><i data-feather="chevrons-left"></i></span>
                    <span>ไปยังหน้าทำนายผลการสำเร็จการศึกษา</span>
                </a>
            </div>
          </div>
        {% else %}
        <div class="container">
          <h4>my dashboard</h4>
            <div class="col-12 col-md-5 bg-light mt-5 p-3">
                <div class="container h-auto w-75">
                  <canvas id="donut_chart"></canvas>
                  <script>
                    const ctx3 = document.getElementById("donut_chart").getContext("2d");
                    const chart = new Chart(ctx3, {
                      type: "doughnut",
                      data: {
                        labels: ['Fail', 'Pass'],
                        datasets: [
                          {
                            backgroundColor: ['#FFBBDA', '#A8D1E7'],
                            data: [{{ fail }}, {{ pass }}]
                          }
                        ],
                        hoverOffset: 4
                      },
                      options: {
                        title: {
                          display: true
                        }
                      },
                      responsive: true,
                      maintainAspectRatio: true,
                    });
                  </script>
                </div>
                <div class="container mt-3">
                  <p>จำนวนข้อมูลที่ทำนายทั้งหมด : <strong>{{ total }}</strong> ข้อมูล</p>
                  <p>ข้อมูลที่มีผลลัพธ์เป็น <strong>Pass</strong> : <strong>{{ pass }}%</strong></p>
                  <p>ข้อมูลที่มีผลลัพธ์เป็น <strong>Fail</strong> : <strong>{{ fail }}%</strong></p>
                </div>
              </div>
            </div>
        </div>
        {% endif %}

    </div>
{% endblock %}