{% extends 'app_general/components/base.html' %}
{% block site_title %}prediction | {% endblock %}
{% block content %}
    <div class="">
        <h1>Hello NOEY</h1>
        <div class="container bg-warning">
            <h1>ข้อมูลที่เคยทำนาย</h1>
            <p>เมื่อวันที่ xx/xx/xxxx</p>
            <div class="container bg-light">
                <p>เกรดเฉลี่ยสะสม : </p>
                <p>เกรดเฉลี่ยรับเข้า : </p>
                <p>เกรดชั้นปีที่ 1 : </p>
                <p>เกรดวิชาภาษาไทย : </p>
                <p>เกรดวิชาคณิตศาสตร์ : </p>
                <p>เกรดวิชาวิทยาศสาตร์ : </p>
                <p>เกรดวิชาสังคมศึกษา : </p>
                <p>เกรดวิชาอังกฤษ : </p>
                <p>เกรดวิชาการงานอาชีพ : </p>
                <p>เกรดวิชาสุขศึกษาและพละศึกษา : </p>
                <p>เกรดวิชาศิลปะ : </p>
            </div>
            <div class="container">
                <h3>ผลลัพธ์</h3>
                <h1>Pass</h1>
            </div>
            <button class="btn btn-primary">ทำนายใหม่อีกครั้ง</button>
        </div>
    </div>

{% endblock %}