{% extends 'app_general/components/base.html' %}
{% block site_title %}my dashboard | {% endblock %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
        <h2>Hello <strong class="text-uppercase">{{ user.username }}</strong></h2>
        <div class="container bg-warning">
            <button class="btn btn-primary">ทำนายใหม่อีกครั้ง</button>
        </div>
        {% else %}
        <div class="d-flex justify-content-end">
            <a href="{% url 'login' %}">
                <button class="btn btn-warning me-3">Log in</button>
            </a>
            <a href="{% url 'register' %}">
                <button class="btn btn-warning me-3">sign up</button>
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}