{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}ประวัติการทำนาย{% endblock %}
{% block content %}
<div class="container">
    <div class="container">
        <div class="row mb-2">
            <div class="col-9">
                <h5>ประวัติผลการทำนายของคุณ</h5>
            </div>
            <div class="col-3">
                <a href="{% url 'form' %}">
                    <button class="btn btn-primary" title="predict">
                        <i data-feather="feather"></i> ทำนายผลอีกครั้ง
                    </button>
                </a>
            </div>
        </div>
        <hr>
        <div class="row" >
            <div class="container d-flex justify-content-center">
                <table class="table table-hover w-75">
                    <thead class="bg-light">
                        <th scope="col">วันที่ทำนาย</th>
                        <th scope="col">รหัสนักศึกษา</th>
                        <th scope="col">สาขา</th>
                        <th scope="col">ผลการทำนาย</th>
                        <th scope="col"></th>

                    </thead>
                    <tbody>
                        {% for i in page %}
                        <tr style="max-height: 25px;">
                            <td>
                                <p>{{ i.predict_at|date:'j/N/Y | H:i' }}</p>
                            </td>
                            <td>
                                <p>{{ i.student_id }}</p>
                            </td>
                            <td>
                                <p>{{ i.branch.name }}</p>
                            </td>
                            {% if i.status == 'Pass' %}
                            <td class="text-success fw-bold">
                                <p>สำเร็จการศึกษา</p>
                            </td>
                            {% else %}
                            <td class="text-danger fw-bold">
                                <p>ไม่สำเร็จการศึกษา</p>
                            </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'history_item' i.id %}" class="btn btn-light text-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{i.id}}" title="ดูรายละเอียด">
                                    <i data-feather="file"></i>
                                </button>

                                <!-- Modal detail history item -->
                                <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content text-dark">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">รายละเอียดข้อมูล</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p>วันที่ทำนาย</p>
                                                        <p>รหัสนักศึกษา</p>
                                                        <p>สาขา</p>
                                                        <p>เกรดเฉลี่ยรับเข้า</p>
                                                        <p>เกรดเฉลี่ยชั้นปีที่ 1</p>
                                                        <p>ภาษาไทย</p>
                                                        <p>คณิตศาสตร์</p>
                                                        <p>วิทยาศาสตร์</p>
                                                        <p>สังคมศึกษา</p>
                                                        <p>สุขศึกษา</p>
                                                        <p>ศิลปะ</p>
                                                        <p>การงานอาชีพ</p>
                                                        <p>ภาษาต่างประเทศ</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p>{{ i.predict_at|date:'j/N/Y | H:i' }}</p>
                                                        <p>{{ i.student_id }}</p>
                                                        <p>{{ i.branch.name }}</p>
                                                        <p>{{ i.admission_grade }}</p>
                                                        <p>{{ i.gpa_year_1 }}</p>
                                                        <p>{{ i.thai }}</p>
                                                        <p>{{ i.math }}</p>
                                                        <p>{{ i.sci}}</p>
                                                        <p>{{ i.society }}</p>
                                                        <p>{{ i.hygiene }}</p>
                                                        <p>{{ i.art }}</p>
                                                        <p>{{ i.career }}</p>
                                                        <p>{{ i.langues }}</p>
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="modal-footer text-center">
                                                {% if i.status == 'Pass' %}
                                                    <div class="container shadow">
                                                        <h4 class="text-success"> <strong>สำเร็จการศึกษา</strong> </h4>
                                                    </div>
                                                {% else%}
                                                    <div class="container shadow">
                                                        <h4 class="text-danger"> <strong>ไม่สำเร็จการศึกษา</strong> </h4>
                                                    </div>
                                                {% endif %}
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
        {% if total > 8 or total == 8 %}
        <div class="container  mb-5 d-flex justify-content-center">

            {% if page.has_previous %}
              <a href="?page=1" class="ms-2 me-2">&laquo First</a>
              <a href="?page={{ page.previous_page_number }}" class="ms-2 me-2">Previous</a>
            {% endif %}
            Page {{ page.number }} of {{ page.paginator.num_pages }}
            {% if page.has_next %}
              <a href="?page={{ page.next_page_number }}" class="ms-2 me-2">next</a>
              <a href="?page={{ page.paginator.num_pages }}" class="ms-2 me-2">Last &raquo</a>
            {% endif %}
  
        </div>
        {% else %}
        {% endif %}
    </div>
</div>


{% endblock %}