{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}my history | {% endblock %}
{% block content %}
    <div class="container">
        <div class="container">
            <button onclick="topFunction()" id="myBtn" title="Go to top">
                <i data-feather="arrow-up"></i>
            </button>
            <h2 class="mt-3">Hello!!  <strong class="text-uppercase">{{ user.username }}</strong></h2>
            <hr>
            <div class="row mt-4 mb-2">
                <div class="col-9">
                    <h5>ประวัติการทำนายของคุณ</h5>
                </div>
                <div class="col-3">
                    <a href="{% url 'form' %}">
                        <button class="btn btn-primary" title="predict">
                            <i data-feather="feather"></i> ทำนายผลอีกครั้ง
                        </button>
                    </a>
                </div>
                <!--<p class="ms-5">ทำนายทั้งหมด : <strong>{{ total }}</strong> ครั้ง</p>-->
            </div>
            <div class="row">
                <div class="container">
                    <div class="row">
                        {% for i in filter_user_id %}
                            <div class="col-12 col-md-6 d-flex justify-content-center mt-3">
                                <div class="card w-75 w-md-100 w-sm-100 shadow">
                                    <div class="row m-0 ps-3 pt-3">
                                        <div class="col-10 ">
                                            <p class="mt-2">วันที่ทำนาย : {{i.predict_at|date:'j/N/Y H:i'}} น.</p>
                                        </div>
                                        <!--<div class="col-2">
                                            <button class="btn" title="predict with this data again">
                                                <i data-feather="edit"></i>
                                            </button>
                                        </div>-->
                                    </div>
                                    <hr class="p-0 m-0">
                                    <div class="row m-0 pt-2 d-flex justify-content-center">
                                        <table class="table w-75 w-sm-100 w-md-100">
                                            <tr class="mb-2">
                                                <td>สาขาวิชา :</td>
                                                <td>{{ i.major }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>เกรดเฉลี่ยที่รับเข้า :</td>
                                                <td>{{ i.admission_grade }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>เกรดเฉลี่ยชั้นปีที่ 1 :</td>
                                                <td>{{ i.gpa_year_1 }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาภาษาไทย :</td>
                                                <td>{{ i.thai }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาคณิตศาสตร์ :</td>
                                                <td>{{ i.math }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาวิทยาศาสตร์ :</td>
                                                <td>{{ i.sci }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาสังคม ศาสนาและวัฒนธรรม :</td>
                                                <td>{{ i.society }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาสุขศึกษาและพละศึกษา :</td>
                                                <td>{{ i.hygiene }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาศิลปศึกษา :</td>
                                                <td>{{ i.art }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาการงาน :</td>
                                                <td>{{ i.career }}</td>
                                            </tr>
                                            <tr class="mb-2">
                                                <td>วิชาภาษาต่างประเทศ :</td>
                                                <td>{{ i.langues }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row m-2 p-0">
                                        {% if i.status == 'Pass' %}
                                            <h6 id="statusPass" class="p-3" style="background-color: #C4FAF8;"><strong>ผลการทำนาย : สำเร็จการศึกษา</strong></h6>
                                        {% else %}
                                            <h6 id="statusFail" class="p-3" style="background-color: #FFCCF9;"><strong>ผลการทำนาย : มีโอกาสที่จะไม่สำเร็จการศึกษา</strong></h6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
    </script>

{% endblock %}