{% extends 'app_general/components/base.html' %}
{% block site_title %}profile | {% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card p-5 mt-3" style="width: 580px;"> 
            <h1 class="text-center">สวัสดี!! คุณ {{ user.username }}</h1>
            <div class="row d-flex align-items-center">
                <div class="col">
                    <h2>ข้อมูลผู้ใช้</h2>
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="{% url 'password_change' %}">reset password</a>
                </div>
            </div>
            <form action="{% url 'profile' %}" method="post" class="form">
                {% csrf_token %}
                {{ form.non_fields_errors }}
                <div class="form-field">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-field">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>
                <div class="form-field">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-field">
                    {{ extended_form.gender.label_tag }}
                    {{ extended_form.gender }}
                    {{ extended_form.gender.errors }}
                </div>
                <div class="form-field">
                    {{ extended_form.university.label_tag }}
                    {{ extended_form.university }}
                    {{ extended_form.university.errors }}
                </div>
                <div class="form-field mt-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary col-6">Update profile</button>
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}