{% extends 'app_general/components/base.html' %}
{% block site_title %}Applied model | {% endblock %}
{% block content %}
    <div class="container">
      <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i data-feather="arrow-up"></i>
      </button>
      <div style="border-bottom: 1px solid #000; margin-top: 35px;">
        <h2>ข้อมูลสำหรับสร้างโมเดลกลุ่ม Applied Science</h2>
      </div>

      {% if applied|length < 1 %}
        <div class="container w-50 d-flex align-items-center" style="height: 360px">
          <div class="card bg-light shadow w-100 text-center p-5" style="height: 180px;">
            <h4>ไม่มีข้อมูล</h4>
            <a href="{% url 'upload_sci_model' %}">
              <button class="btn btn-primary shadow" title="add data">
                <span><i data-feather="plus"></i></span>
                <span>เพิ่มข้อมูล</span>
              </button>
            </a>
          </div>
        </div>
      {% else %}
        <div class="row mb-2">
          <div class="col-6">
            <strong>
              <p class="mt-4">total: {{ total }}</p>
            </strong>
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <a href="#" style="padding-right: 8px">
              <button class="btn btn-primary" type="submit" title="add data">
                <i data-feather="plus"></i>
              </button>
            </a>
            <a href="#">
              <button class="btn btn-danger" title="delete datas">
                <i data-feather="trash"></i>
              </button>
            </a>       
          </div>
        </div>
        
        <table class="table">
          <thead class="bg-light">
            <th scope="col">major</th>
            <th scope="col">admission grade</th>
            <th scope="col">gpa year 1</th>
            <th scope="col">thai</th>
            <th scope="col">math</th>
            <th scope="col">sci</th>
            <th scope="col">society</th>
            <th scope="col">hygiene</th>
            <th scope="col">art</th>
            <th scope="col">career</th>
            <th scope="col">english</th>
            <th scope="col">status</th>              
          </thead>
          <tbody>
            <tr {% for data in applied %}>
              <td>{{ data.major }}</td>
              <td>{{ data.admission_grade }}</td>
              <td>{{ data.gpa_year_1 }}</td>
              <td>{{ data.thai }}</td>
              <td>{{ data.math }}</td>
              <td>{{ data.sci }}</td>
              <td>{{ data.society }}</td>
              <td>{{ data.hygiene }}</td>
              <td>{{ data.art }}</td>
              <td>{{ data.career }}</td>
              <td>{{ data.langues }}</td>
              <td>{{ data.status }}</td>
            </tr {% endfor %}>
          </tbody>
        </table>   
      {% endif %}   
    </div>
    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
    </script>
{% endblock %}