{% extends 'app_general/components/base.html' %}
{% block site_title %}prediction | {% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center mb-3">Testing prediction</h2>

    <form action="{% url 'testing_predict' %}" method="post">
        {% csrf_token %}
            {{ grade.gpa.label }}
            {{ grade.gpa }}

            {{ grade.admission_grade.label }}
            {{ grade.admission_grade }}

            {{ grade.gpa_year_1.label }}
            {{ grade.gpa_year_1 }}

            {{ grade.thai.label }}
            {{ grade.thai }}

            {{ grade.mathematics.label }}
            {{ grade.mathematics }}

            {{ grade.science.label }}
            {{ grade.science }}

            {{ grade.society.label }}
            {{ grade.society }}

            {{ grade.hygiene.label }}
            {{ grade.hygiene }}

            {{ grade.art.label }}
            {{ grade.art }}

            {{ grade.career.label }}
            {{ grade.career }}

            {{ grade.english.label }}
            {{ grade.english }}

                    <!--{{ grade.status }}-->

            <button type="submit" class="btn btn-primary">submit</button>
    </form>
    <div class="mt-5">
        <h3>สัญลักษณ์ที่ใช้แทนของช่วงเกรดเฉลี่ย</h3>
        <ul class="row">
            <li class="col-3">A = 4.00 </li>
            <li class="col-3">B+ = 3.50-3.99</li>
            <li class="col-3">B = 3.00-3.49</li>
            <li class="col-3">C+ = 2.50-2.99</li>
            <li class="col-3">C = 2.00-2.49</li>
            <li class="col-3">D+ = 1.50-1.99</li>
            <li class="col-3">D = 1.00-1.49</li>
            <li class="col-3">F = <1.00</li>
        </ul>
    </div>
<div>             
{% endblock %}