{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}ข้อมูลโมเดล{% endblock %}
{% block content %}
  <div class="container">
      
    <div class="container mt-3">
      <div class="row mb-3">
        <div class="col-12 col-lg-6">
          <h3>ข้อมูลที่ใช้สำหรับสร้างโมเดลการทำนาย</h3>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-end pe-3">
          <h5>total = {{ total }}</h5>
        </div>
      </div>
    </div>
    <hr class="mb-3">
    <div class="container"> 
      {% if total < 1 %}
        <div class="container w-50 d-flex align-items-center" style="height: 360px">
          <div class="card bg-light shadow w-100 text-center p-5" style="height: 180px;">
              <p>**ขณะนี้ยังไม่มีข้อมูลสำหรับสร้างโมเดล</p>
              <a href="{% url 'upload' %}" class="mt-3">
                  <span><i data-feather="chevrons-left"></i></span>
                  <span>ไปยังหน้าอัปโหลดข้อมูลโมเดล</span>
              </a>
          </div>
        </div>
      {% else %}
      <div class="container" style="max-height: 500px;">
        <table class="table">
          <thead class="bg-light">
            <th scope="col">สาขา</th>
            <th scope="col">เกรดเฉลี่ยรับเข้า</th>
            <th scope="col">เกรดเฉลี่ยชั้นปีที่1</th>
            <th scope="col">ภาษาไทย</th>
            <th scope="col">คณิตศาสตร์</th>
            <th scope="col">วิทยาศาสตร์</th>
            <th scope="col">สังคมศึกษา</th>
            <th scope="col">สุขศึกษา</th>
            <th scope="col">ศิลปะ</th>
            <th scope="col">การงานอาชีพ</th>
            <th scope="col">ภาษาต่างประเทศ</th>
            <th scope="col">สถานะ</th>              
          </thead>
          <tbody>
            {% for data in page %}
                <tr>
                  <td>{{ data.branch.abbreviation }}</td>
                  <td>{{ data.admission_grade }}</td>
                  <td>{{ data.gpa_year_1 }}</td>
                  <td>{{ data.thai }}</td>
                  <td>{{ data.math }}</td>
                  <td>{{ data.sci }}</td>
                  <td>{{ data.society }}</td>
                  <td>{{ data.hygiene }}</td>
                  <td>{{ data.art }}</td>
                  <td>{{ data.career }}</td>
                  <td>{{ data.langues }}</td>
                  <td>{{ data.status }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container d-flex justify-content-center">

        {% if page.has_previous %}
          <a href="?page=1" class="ms-2 me-2">&laquo First</a>
          <a href="?page={{ page.previous_page_number }}" class="ms-2 me-2">Previous</a>
        {% endif %}
        Page {{ page.number }} of {{ page.paginator.num_pages }}
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}" class="ms-2 me-2">next</a>
          <a href="?page={{ page.paginator.num_pages }}" class="ms-2 me-2">Last &raquo</a>
        {% endif %}

      </div>
          
      {% endif %}
    </div>

  </div>
{% endblock %}