{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}upload model | {% endblock %}
{% block content %}
<div class="container text-center">
    <h1 class="mb-5">Upload model</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="{% url 'upload_applied_sci_model' %}">อัปโหลดข้อมูลสำหรับ Applied Science</a>
            </div>
            <div class="col-12 col-md-4">
                <a href="{% url 'upload_health_sci_model' %}">อัปโหลดข้อมูลสำหรับ Health Science</a>
            </div>
            <div class="col-12 col-md-4">
                <a href="{% url 'upload_pure_sci_model' %}">อัปโหลดข้อมูลสำหรับ Pure Science</a>
            </div>
        </div>
        <div class="row w-75 bg-info" style="margin-left: auto; margin-right: auto;">
            <h4>Example data to update</h4>
            <img src="{% static 'app_general/img/example.png' %}" alt="img" class="img-fluid">
        </div>
        <div class="row">
            <p>สัญลักษณ์ข้อมูล</p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p>DSSI : สาขาวิทยาการคอมพิวเตอร์และสาขาวิทยาการข้อมูลและนวัตกรรม</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>ICT : สาขาเทคโนโลยีสารสนเทศและการสื่อสาร</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>polymer  :</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>enviSci : </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>safety : </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>bio : </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>chemi : </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>math : </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>microBio : </p>
                </div>
                <div class="col-12 col-md-6">
                    <p>physics : </p>
                </div>
                
        </div>
    </div>
</div>
{% endblock %}