{% extends 'app_general/components/base.html' %}
{% load static %}
{% block site_title %}Upload model | {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5 d-flex align-items-center">
        <div class="col-9">
            <h2 class="">อัปโหลดข้อมูลสำหรับสร้างโมเดล</h2>
            <p class="text-danger mb-0">**ต้องการข้อมูลที่เป็นไฟล์ excel</p>
        </div>
        <div class="col-3 text-start">
            <a href="{% url 'show_model' %}">
                <button class="btn" title="ดูข้อมูลที่ใช้สร้างโมเดล">
                    <i data-feather="eye"></i>
                </button>
            </a>
        </div>
    </div>
    <hr>
    <div class="container w-75">
        {% for msg in messages %}
            {% if msg.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="row d-flex justify-content-center mt-5" style="margin-left:0px;">
                <form action="{% url 'upload_sci_model' %}" method="POST" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    <input type="file" name="myfile" required class="form-control w-75 w-md-100" style="margin-left: auto; margin-right: auto;">
                    <div class="container d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="container" style="width: 90%">
                <!--<div class="row border-bottom">
                    <h5 class="text-start">สัญลักษณ์</h5>
                </div>-->
                <div class="row text-start mt-3">
                    <h6>
                        <strong>
                            คอลัมน์ที่ต้องการ
                        </strong>
                    </h6>
                    <p class="col-12 col-md-6 ps-4">major : สาขาวิชา</p>
                    <p class="col-12 col-md-6 ps-4">admission_grade : เกรดเฉลี่ยมัธยมตอนปลาย</p>
                    <p class="col-12 col-md-6 ps-4">gpa_year_1 : เกรดเฉลี่ยชั้นปีที่1</p>
                    <p class="col-12 col-md-6 ps-4">thai : วิชาภาษาไทย</p>
                    <p class="col-12 col-md-6 ps-4">math : วิชาคณิตศาสตร์</p>
                    <p class="col-12 col-md-6 ps-4">sci : วิชาวิทยาศาสตร์</p>
                    <p class="col-12 col-md-6 ps-4">society : วิชาสังคมศึกษา</p>
                    <p class="col-12 col-md-6 ps-4">hygiene : วิชาสุขศึกษาและพละศึกษา</p>
                    <p class="col-12 col-md-6 ps-4">art : วิชาศิลปศึกษา</p>
                    <p class="col-12 col-md-6 ps-4">career : วิชาการงานอาชีพ</p>
                    <p class="col-12 col-md-6 ps-4">langues : วิชาภาษาต่างประเทศ</p>
                    <p class="col-12 col-md-6 ps-4">status : สถานะการสำเร็จการศึกษา</p>
                </div>
                <hr>
                <div class="row mt-3">
                    <h6>
                        <strong>
                            ความหมายเกรด
                        </strong>
                    </h6>
                    <p class="col-12 col-md-6 ps-4">excellent : เกรดเฉลี่ยมากกว่า 3.50</p>
                    <p class="col-12 col-md-6 ps-4">very good : เกรดเฉลี่ย 3.00 - 3.49</p>
                    <p class="col-12 col-md-6 ps-4">good : เกรดเฉลี่ย 2.50 - 2.99</p>
                    <p class="col-12 col-md-6 ps-4">medium : เกรดเฉลี่ย 2.00 - 2.49</p>
                    <p class="col-12 col-md-6 ps-4">poor : เกรดเฉลี่ย 1.50 - 1.99</p>
                    <p class="col-12 col-md-6 ps-4">very poor : เกรดเฉลี่ยน้อยกว่า 1.50</p>
                </div>
                <hr>
                <div class="row">
                    <h6>
                        <strong>
                            ความหมายสาขา
                        </strong>
                    </h6>
                    <p class="col-12 col-md-6 ps-4">ICT : สาขาเทคโนโลยีสารสนเทศและการสื่อสาร</p>
                    <p class="col-12 col-md-6 ps-4">DSSI : สาขาวิทยาการคอมพิวเตอร์และสาขาวิทยาการข้อมูลและนวัตกรรม</p>
                    <p class="col-12 col-md-6 ps-4">polymer  : สาขาเทคโนโลยีการยางและพอลิเมอร์</p>
                    <p class="col-12 col-md-6 ps-4">enviSci : สาขาวิทยศาสตร์สิ่งแวดล้อม</p>
                    <p class="col-12 col-md-6 ps-4">safety : สาขาอนามัยสิ่งแวดล้อมและความปลอดภัย</p>
                    <p class="col-12 col-md-6 ps-4">bio : สาขาชีววิทยา</p>
                    <p class="col-12 col-md-6 ps-4">chemi : สาขาเคมี</p>
                    <p class="col-12 col-md-6 ps-4">math : สาขาคณิตศาสตร์</p>
                    <p class="col-12 col-md-6 ps-4">microBio : สาขาจุลชีววิทยา</p>
                    <p class="col-12 col-md-6 ps-4">physics : สาขาฟิสิกส์ สาขาฟิสิกส์ทางการแพทย์ และสาขาฟิสิกส์อุตสาหกรรม</p>
                    <p class="col-12 col-md-6 ps-4">Pass : สำเร็จการศึกษา</p>
                    <p class="col-12 col-md-6 ps-4">Fail : ไม่สำเร็จการศึกษา</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}