{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block site_title %}{% endblock %}test web</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'app_general/img/ubu-logo-2.png' %}">
        <link rel="stylesheet" href="{% static 'app_general/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'app_general/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'app_general/css/btn_scroll.css' %}">    
        <link rel="stylesheet" href="{% static 'app_general/css/style.css' %}">       
        
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="https://kit.fontawesome.com/9918a0d039.js" crossorigin="anonymous"></script>
        <!--JavaScript chart-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.0/chart.min.js" integrity="sha512-qKyIokLnyh6oSnWsc5h21uwMAQtljqMZZT17CIMXuCQNIfFSFF4tJdMOaJHL9fQdJUANid6OB6DRR0zdHrbWAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'app_general/js/canvasjs/canvasjs.min.js' %}"></script>
        <!--font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
        
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        
        {% include 'app_general/components/site_header.html' %}
        <div class="container-fluid" style="min-height: 92vh;">

            <div class="row h-100">

                <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collpase" style="background: #EEE">

                    <div class="position-sticky sticky-top">
                        <ul class="nav flex-column">
                            <li id="selector" class="nav-item">
                                <a href="{% url 'dashboard' %}" class="nav-link">
                                    <i data-feather="monitor"></i>
                                    <span class="ml-2">แดชบอร์ด(แอดมิน)</span>
                                </a>
                            </li>
                            <li id="selector" class="nav-item">
                                <a href="{% url 'form' %}" class="nav-link">
                                    <i data-feather="box"></i>
                                    <span class="ml-2">ทำนายผลสำเร็จการศึกษา</span>
                                </a>
                            </li>
                            <li id="selector" class="nav-item">
                                <a href="{% url 'information' %}" class="nav-link">
                                    <i data-feather="file-text"></i>
                                    <span class="ml-2">ข้อมูลการทำนาย</span>
                                 </a>
                            </li>
                            <li id="selector" class="nav-item">
                                <a href="{% url 'upload' %}" class="nav-link">
                                    <i data-feather="arrow-down"></i>
                                    <span class="ml-2">อัปโหลดข้อมูลโมเดล</span>
                                </a>
                            </li>
                            <li id="selector" class="nav-item">
                                <a href="{% url 'show_model' %}" class="nav-link">
                                    <i data-feather="folder"></i>
                                    <span class="ml-2">แสดงข้อมูลในโมเดล</span>
                                </a>
                            </li> 
                            <li id="selector" class="nav-item">
                                <a href="{% url 'my-dashboard' %}" class="nav-link">
                                    <i data-feather="monitor"></i>
                                    <span class="ml-2">แดชบอร์ดของฉัน(สมาชิกในระบบ)</span>
                                </a>
                            </li> 
                            <li id="selector" class="nav-item">
                                <a href="{% url 'result' %}" class="nav-link">
                                    <i data-feather="monitor"></i>
                                    <span class="ml-2">ผลลัพธ์</span>
                                </a>
                            </li>                     
                        </ul>
                    </div>
                    
                </nav>

                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4" style="min-height: 92vh;">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        

        {% include 'app_general/components/site_footer.html' %}
        <script>
            feather.replace()
        </script>
    </body>
</html>