{% load static %}

<nav class="navbar navbar-light bg-light">
    <a href="{% url 'dashboard' %}" class="navbar-brand ms-3 d-flex align-items-center">
        <div>
            <img src="{% static 'app_general/Ubu_logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
        </div>
        <div class="ms-2">
            <h3>ระบบทำนายการจบการศึกษา</h3>
        </div>
    </a>
    {% if user.is_authenticated %}
        <a class="me-3" href="{% url 'profile' %}">
            <span>{{ user.username }}</span>
        </a>
        <a href="{% url 'logout' %}">
            <button class="btn btn-warning me-3">Log out</button>
        </a>
    {% else %}
    <a href="{% url 'login' %}">
        <button class="btn btn-warning me-3">Log in</button>
    </a>
    {% endif %}
    
    </nav>